*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


/* Nav */
nav{
    background-color: transparent;
}

.navbarContainer{
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    width: auto;
    max-height: fit-content;
    background-color: transparent;
  
    display: flex;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
display: flex;
background-color: transparent;

}

ul li{
    display: inline-block;
    list-style: none;
    background-color: transparent;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin: 0 40px;
    background-color: transparent;
}

.logoContainer
{
    display: flex;
    flex: 0.2;
    background-color: transparent;
    min-width: 15%;
  
}

.logo{
    margin-left: 2%;
    margin-top: -30%;
    max-width:100%;
    height:auto;
    max-height: fit-content;
    background-color: transparent;
    

}

.navbarSpacer
{
    flex: 0.27;
    background-color: transparent;
    
}

.menuContainer{
    flex: 0.3;
    width: 100px;
    margin: 10px;
    background-color: transparent;
   
}

.menu{
    background-color: transparent;
}

.menu-icon{
    width: 25px;
    cursor: pointer; 
    display: none;
       
}

.navItem{
    background-color: transparent;
}

nav ul li{
    display: block;
    list-style: none;
    margin-inline: 2px;
   
  
}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 22px;
    

}

nav ul li a:hover{
    color: #59DAF6;
}


.first{
    max-width:100%;
    height:auto;
}

.spacer{
    background-color: white;
    border: 50px solid grey; 
}

/* Team Members */

.team{
    opacity: 0.99; 
    display: flex;
    
   }
   
   .box{
       position: relative;
       width: 300px;
       height: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 40px;
       transition: 0.5s;
       float: left;
       left: 375px;
      
       
       
   }
   
   .box:hover{
    height: 400px;
    
   }
   
   .box .imgbox{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       padding: 10px;
       box-sizing: border-box;
       
   }
   
   .box .imgbox img{
       max-width: 100%;
       opacity: 0.1;
       transition: 0.5s;
       
   }
   
   .box:hover .imgbox img{
       opacity: 1;
      
   }
   
   .box:before{
       content: '';
       position: absolute;
       top: -2px;
       left: -2px;
       right: -2px;
       bottom: -2px;
       background-color: #fff;
       z-index: -1;
      
   }
   
   .box:after{
       content: '';
       position: absolute;
       top: -2px;
       left: -2px;
       right: -2px;
       bottom: -2px;
       background-color: #fff;
       z-index: -2;
       filter: blur(40px);
       
   }
   
   .box:before,
   .box:after
   {
       background: linear-gradient(235deg,#004750,#010615,#00bcd4);
       
   
   }
   
   .box .content{
       position: absolute;
       bottom: 0;
       left: 10px;
       right: 10px;
       bottom: 10px;
       height: 90px;
       background: rgba(0,0,0,0.4);
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       opacity: 0;
       transition: 0.5s; 
       
   }
   
   .box:hover .content
   {
       opacity: 1;
       
   }
   
   .box .content h2{
       font-size: 20px;
       color: #fff;
       font-weight: 500;
       line-height: 20px;
       letter-spacing: 1px;
      
   }
   
   .box .content h2 span{
       font-size: 14px;
       color: #fff;
       font-weight: 200;
       letter-spacing: 2px;
         
   }


   .sentence{
    color: white;
    font-size: 26px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    text-align: center;
   }

   .Spacer
   {
    height: 100px;
       flex: 0.5;
       background-color: transparent;
   }

.support{
    color: #59DAF6;
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-left: 43%;
    margin-right: 15%;
    margin-top: 2%;

}