/* Body */
.body{
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: black;
    font-family: 'Space Mono', monospace;
}

/* Nav */
nav{
    background-color: transparent;
}

.navbarContainer{
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    width: auto;
    max-height: fit-content;
    background-color: transparent;
   /* border: 1px solid purple; */
    display: flex;
}

/* https://freshman.tech/flexbox-navbar/ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
display: flex;

}

ul li{
    display: inline-block;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin: 0 40px;
    
}

.logoContainer
{
    display: flex;
    flex: 0.2;
    background-color: transparent;
    min-width: 15%;
  
}

.logo{
    margin-left: 2%;
    margin-top: -30%;
    max-width:100%;
    height:auto;
    max-height: fit-content;
    background-color: transparent;
    

}

.navbarSpacer
{
    flex: 0.27;
    background-color: transparent;
    
}

.menuContainer{
    flex: 0.3;
    width: 100px;
    margin: 10px;
    /* justify-content: right; */
    background-color: transparent;
    /* border: 1px solid grey; */
}

.menu{
    background-color: transparent;
}

.menu-icon{
   display: none;
   /* border: 1px solid rebeccapurple;*/
}

.navItem{
    background-color: transparent;
}

nav ul li{
    display: block;
    list-style: none;
    margin-inline: 2px;
   
    /* float: right; */
    /* padding-right: 5%; */
}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 22px;
    /* border: 1px solid rebeccapurple;*/

}

nav ul li a:hover{
    color: #59DAF6;
}


/* Nav Socials */

.discord{
    padding: 0 15px;
    background-color: transparent;
   
}
.twitter{
    padding: 0 15px;
    background-color: transparent;
    
}
.notion{
    padding: 0 15px;
    background-color: transparent;
   
}

/* main page */
.heroImage{
    width:auto;
    
}

.mainpage{
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.first{
    max-width:100%;
    height:auto;
}

/* Main */

/* sections imgs */
.section1{
    display: flex;
    margin-top: 10%;
}

.section2temp{
    display: flex;
    margin-top: 10%;
}

.section3{
    position: relative;
    display: flex;
    margin-top: 10%;
}

.section4{
    display: flex;
    margin-top: 10%;
}

.flex-child {
    flex: 1;
 
}


.sectionRVideo{
    float: left;
    max-width:100%;
    height:auto;
}

.sectionLVideo{
    float: right;
    max-width:100%;
    height:auto;
}

/* sections texts */

.sectionTitle{
    
    margin-left: 45%;
    margin-right: 10%;
    margin-top: 7%;
    font-size: large;
    font-size: 32px;
    color: whitesmoke;
    background: -webkit-linear-gradient( rgb(89, 218, 246), rgb(59, 118, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.sectionBaseText{
    display: flex;
    margin-left: 45%;
    margin-right: 10%;
    margin-top: 8%;
    text-size-adjust: 20px;
    color: white;
    
}

.sectionTitleR{
    
    margin-left: 15%;
    margin-right: 35%;
    margin-top: 7%;
    font-size: large;
    font-size: 32px;
    color: whitesmoke;
    background: -webkit-linear-gradient( rgb(89, 218, 246), rgb(59, 118, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.sectionBaseTextR{
    display: flex;
    margin-left: 15%;
    margin-right: 35%;
    margin-top: 8%;
    text-size-adjust: 20px;
    color: white;
    
}

/* Img Slider

.slidecontainer{
    display: flex;
    border: 1px solid yellow;
    
    
}

.swiper{
    position: absolute;
    display: flex;
    top: -250px;
    margin: 30px 0;
    width: 275px;
    border: 1px solid yellow;

}

.swiper-slide img{
    display: flex;
    margin: 30px 0;
    max-width:100%;
    height:auto;
    max-height: fit-content;
    background-color: transparent;
    border: 1px solid grey;
}

*/

.moss{
    display: flex;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: -10%;
    max-width:50%;
    height:auto;
}

/* Newsletter */

.DAO{
    display: flex;
}

.Paragraph{
    color: #59DAF6;
   
    font-size: large;
    font-size: 32px;
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 8%;
}

.bottomlogo{
    display: flex;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 0%;
    max-width:50%;
    height:auto;
   
}




.bottomlinks{
    display: flex;
    
}


.bottomimg{
    margin-left: 22%;
    margin-right: 0%;
    margin-top: 2%;
    width: 100%;
    display: flex;
   
    
}

.bottomimg img{
    max-width: 100px;
    height: 100px;
}

h3{
    display: flex;
    margin-left: 43%;
    margin-right: 25%;
    margin-top: 2%;
    color: #59DAF6;
    
}










/* ABOUT US PAGE */



/* Team Members */

.team{
    opacity: 0.99; 
    display: flex;
    
   }
   
   .box{
       position: relative;
       width: 300px;
       height: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 40px;
       transition: 0.5s;
       float: left;
       left: 375px;
       border: 1px solid rebeccapurple;
       
       
   }
   
   .box:hover{
    height: 400px;
    
   }
   
   .box .imgbox{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       padding: 10px;
       box-sizing: border-box;
       
   }
   
   .box .imgbox img{
       max-width: 100%;
       opacity: 0.1;
       transition: 0.5s;
       
   }
   
   .box:hover .imgbox img{
       opacity: 1;
      
   }
   
   .box:before{
       content: '';
       position: absolute;
       top: -2px;
       left: -2px;
       right: -2px;
       bottom: -2px;
       background-color: #fff;
       z-index: -1;
      
   }
   
   .box:after{
       content: '';
       position: absolute;
       top: -2px;
       left: -2px;
       right: -2px;
       bottom: -2px;
       background-color: #fff;
       z-index: -2;
       filter: blur(40px);
       
   }
   
   .box:before,
   .box:after
   {
       background: linear-gradient(235deg,#004750,#010615,#00bcd4);
       
   
   }
   
   .box .content{
       position: absolute;
       bottom: 0;
       left: 10px;
       right: 10px;
       bottom: 10px;
       height: 90px;
       background: rgba(0,0,0,0.4);
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       opacity: 0;
       transition: 0.5s; 
       
   }
   
   .box:hover .content
   {
       opacity: 1;
       
   }
   
   .box .content h2{
       font-size: 20px;
       color: #fff;
       font-weight: 500;
       line-height: 20px;
       letter-spacing: 1px;
      
   }
   
   .box .content h2 span{
       font-size: 14px;
       color: #fff;
       font-weight: 200;
       letter-spacing: 2px;
         
   }
   .learnmore2{
    display: flex;
   }

   .learnmore{
    color: white;
    font-size: 26px;
    display: flex;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
   }

@media only screen and (max-device-width: 750px) {

    .logo{
        width: 185px;
        height: 185px;
    }

  
    nav ul{
        width: 100%;
        background: black;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        overflow: hidden;
    }

    nav ul li{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    nav ul li a{
        color: #fff;
        padding: 0 0px;
        font-size: 16px;
        overflow: hidden;
    }


    .menu-icon{
        position: relative;
        left: 600px;
        width: auto;
        display: block;
        overflow: hidden;
        
    }
    #menuList{
        overflow: hidden;
        transition: 0.7s;
    }
    
  .first{
    width: 100%;
    overflow: hidden;
  }

  
  .section1{
    display: none;
  }

  .second{
    display: none;
  }


  .section1description{
    font-size: 20px;
    left: 100px;
    top: 75px;
    color: #59DAF6;
   }



  .section2{
    width: 100%;
    overflow: hidden;

  }

  
  .third{
    max-width: 250%;
    position: relative;
    right: 225px;
    top: 0px;
    background: #fff;
    opacity: 25%;
    overflow: hidden;
    padding: 0 0;
  }

  .section2description{
    position: absolute;
    max-width: 2500%;
    font-size: 20px;
    left: 250px;
    color: #59DAF6;
    padding: 0 0;
   }


  .section3{
    display: none;
  }

  .slidecontainer{
    display: none;
  }

  .section4{
    display: none;
  }

  .bottompage{
    display: none;
  }

  .team{
    display: none;
  }

  .bottomlinks{
    display: none;
  }
} 