/* Body */
.body{
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: black;
    font-family: 'Space Mono', monospace;
}

/* Nav */
nav{
    background-color: transparent;
}

.navbarContainer{
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    width: auto;
    max-height: fit-content;
    background-color: transparent;
   /* border: 1px solid purple; */
    display: flex;
}

/* https://freshman.tech/flexbox-navbar/ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul li{
    display: inline-block;
    list-style: none;
   
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 26px;
    margin: 0 40px;
    
    
}

.logoContainer
{
    display: flex;
    flex: 0.2;
    background-color: transparent;
    min-width: 15%;
   
  
}

.logo{
    margin-left: 2%;
    margin-top: -30%;
    max-width:100%;
    height:auto;
    max-height: fit-content;
    background-color: transparent;
    

}

.navbarSpacer
{
    flex: 0.27;
    background-color: transparent;
   
}


.menu{
    background-color: transparent;
}

.menu-icon{
    width: 25px;
    cursor: pointer; 
    display: none;
      
}

.nav li{
    width: 125px;
}

ul li a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 22px;
 
}

ul li a:hover{
    color: white;
}


/* Nav Socials */

.discord{
    padding: 0 15px;
    background-color: transparent;
   
}
.twitter{
    padding: 0 15px;
    background-color: transparent;
    
}
.notion{
    padding: 0 15px;
    background-color: transparent;
   
}

button {
    border: solid 2px #444;
    font-size:16px;
    padding: 10px 25px 10px 25px;
    background: gray;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.4s ease;
  }

/* main page */
.heroImage{
    width:auto;
    
}

.mainpage{
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.first{
    max-width:100%;
    height:auto;
}

/* Main */

/* sections imgs */
.section1{
    display: flex;
    margin-top: 10%;
}

.section2temp{
    display: flex;
    margin-top: 10%;
}

.section3{
    display: flex;
    margin-top: 10%;
}

.section4{
    display: flex;
    margin-top: 10%;
}

.flex-child {
    flex: 1;
    border: 1px solid yellow;
}


.sectionRVideo{
    float: left;
    max-width:100%;
    height:auto;
    border: 1px solid yellow;
}

.sectionLVideo{
    float: right;
    max-width:100%;
    height:auto;
}

/* sections texts */

.sectionTitle{
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    font-size: large;
    font-size: 32px;
    color: whitesmoke;
    background: -webkit-linear-gradient( rgb(89, 218, 246), rgb(59, 118, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid yellow;
}

.sectionBaseText{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    text-size-adjust: 20px;
    color: white;
    border: 1px solid yellow;
}




/* Img Slider 

.slidecontainer{
    display: flex;
    border: 1px solid yellow;
    
    
}

.swiper{
    position: absolute;
    width: 275px;
    bottom: 300px;
    border: 1px solid yellow;

}

.swiper-slide img{
    display: flex;
    max-width:100%;
    max-height: fit-content;
    background-color: transparent;
    border: 1px solid yellow;
}

*/
/* Newsletter */



.Paragraph{
    color: #59DAF6;
    font-size: 20px;
    text-align: center;
}

.bottomlogo{
    display: flex;
    margin-left: 33%;
    max-width:35%;
    height:auto;
   
}





.support{
    text-align: center;
    color: white;
    font-size: 16px;
}

.support a{
    color: white;
}











/* ABOUT US PAGE */



/* Team Members */

.spacebetween{
    border: 100px solid #59DAF6;
}
   .sentence{
    color: white;
    font-size: 26px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    text-align: center;
 
   }



.team{
    display: inline-flex;
}



.imgbox{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
   background-image: linear-gradient(#102d33, #59DAF6);
   border: none;
   border-radius: 45%;
   opacity: 85%;
   
   
}

.imgbox:hover{
    opacity: 100%;
    
}

.content{

}

.content h2{
    display: flex;
    flex-direction: column;
    margin-left: -16%;
    margin-right: 5%;
    margin-top: 20%;
    position: absolute;
    color: white;
    
}

.content p{
    display: flex;
    flex-direction: column;
    margin-left: -12%;
    margin-right: 5%;
    margin-top: 22%;
    position: absolute;
    color: white; 
}




   


@media only screen and (max-device-width: 1023px) {

    .logo{
    margin-left: 2%;
    margin-top: -30%;
    max-width:100%;
    height:auto;
    max-height: fit-content;
    background-color: transparent;
    }

    .nav{
        margin-right: 5%;
    }

    .nav li{
        width: 50px;
        
        
    }
    
    ul li a{
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 16px;
     
    }



button{
   display: flex; 
}
    
    .menu-icon{
       
       display: none;
        
    }
 
 .sectionTitle{
    font-size: 18px;
    margin-top: 30%;
    margin-right: 0%;
    margin-left: 5%;
}


 
.sectionBaseText{
   font-size: 12px;
   margin-bottom: 100%;
   margin-right: 0%;
   margin-left: 5%;
   margin-top: 5%;
}

.sectionRVideo{
   max-width:100%;
   height:auto;
   margin-top: 30%;
}

.sectionLVideo{
    max-width:100%;
    height:auto;
    margin-top: 30%;
 }


 .section1{
    display: flex;
  
}

.section2temp{
    display: flex;
    margin-top: -20%;
}

.section3{
    display: flex;
    margin-top: -20%;
}

.section4{
    display: flex;
    margin-top: -20%;
}

.bottomimg img{
    display: none;
}



}






@media only screen and (max-device-width: 600px){
    .logo{
        margin-left: 2%;
        margin-top: -30%;
        max-width:100%;
        height:auto;
        max-height: fit-content;
        background-color: transparent;
        }
    
        .nav{
            margin-right: 5%;
        }
    
        .nav li{
            width: 50px;
            
            
        }
        
        ul li a{
            display: flex;
            text-decoration: none;
            color: black;
            font-size: 16px;
         
        }
    
        button{
            
        }
    

    
    
        .menu-icon{
           
            display: inline-block;
      
        }
        #menuList{
            overflow: hidden;
            transition: 0.5s;
            display: flex;
            background-color: white;
            opacity: 50%;
            flex-direction: column-reverse;
          
           
        }
        

    .sectionTitle{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        font-size: 16px;
        border: 1px solid yellow;
    }
     
    .sectionBaseText{
       font-size: 12px;
       border: 1px solid yellow;
      margin: 0%;
    }
    

    .sectionRVideo{
        float: none;
        max-width:100%;
        height:auto;
        border: 1px solid yellow;
    }
    
    .sectionLVideo{
        float: none;
        max-width:100%;
        height:auto;
        margin-top: 80%;
        border: 1px solid yellow;
     }
    
     .flex-child{
        flex-direction: column;
        border: 1px solid yellow;
     }
    
     .section1{
         display: flex;
        margin-top: -20%;
        flex-direction: column;
        padding: 0px 15px;
        border: 1px solid yellow;
    }
    
    .section2temp{
        display: flex;

        flex-direction: column;
        padding: 0px 15px;
        border: 1px solid yellow;
    }
    
    .section3{
        display: flex;
        margin-top: -20%;
        flex-direction: column;
        padding: 0px 15px;
        border: 1px solid yellow;
    }
    
    .section4{
        display: flex;
        margin-top: -20%;
        flex-direction: column;
         padding: 0px 15px;
        border: 1px solid yellow;

    }
    
    .DAO p{
        font-size: 12px;
    }

    .support a{
        font-size: 12px;
    }
}